/Makefile
/Makefile.in
/configure
/aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
depcomp
gdb.sh
graph.sh
install-sh
missing
src/.deps/
src/GPATH
src/GRTAGS
src/GTAGS
src/Makefile
src/Makefile.in
src/tomegus
src/tomegus-main.o
src/tomegus-pt_console.o
stamp-h1